*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.box{
  position: relative;
  width: 430px;
  height: 430px;
  border: 80px solid transparent;
  /*goal is to make the loop*/
  border-right: 80px solid gray;
  border-bottom: 80px solid grey;
  border-radius: 50%;
  transform: rotate(45deg);
  animation: loopdance 2s linear infinite;
}

@keyframes loopdance{
  0%,100%
  {
    transform: rotate(0deg);
  }
  50%
  {
    transform: rotate(90deg);
    /*ensure the loop moves half the distance hence beautiful.
    ...try other angles and observe*/
  }
}

/*insert content that rest on the left border of 'box' div.*/
.box::after,
.box::before{
  content: "";
  position: absolute;
  width: 80px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  transform: rotate(135deg);
}
.box::before{
  top: 238px;
  left: -30px;
}
.box::after{
  bottom: 238px;/*this ensure the position*/
  right: -30px;
}
/*creating the ball*/
.circle{
  position: absolute;
  /*top and left helps us to allow ball jump on the loop*/
  top: 56px;
  left: -110px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: white;
  box-shadow: inset 40px 20px 20px rgba(0, 0, 0, 0.2);
  z-index: 2;
  transform-origin: 210px;/*without this animation will not work*/
  animation: ballmove 2s linear infinite;
}
@keyframes ballmove
{
  0%,100%
  {
    transform: rotate(135deg);
  }
  50%
  {
    transform: rotate(-45deg);
  }
}